{
  "plugins": [
    "transform-object-rest-spread",
    "transform-runtime",
    [
      "refer-import",
      [
        {
          "libraryName": "dantejs",
          "style": false,
          "libraryDirectory": "src"
        },
        {
          "libraryName": "framework",
          "style": false,
          "libraryDirectory": ""
        },
        {
          "libraryName": "services",
          "style": false,
          "libraryDirectory": ""
        }
      ]
    ]
  ],
  "presets": [
    [
      "env"
    ]
  ]
}